@media (min-width: 1200px) {
  .container {
    max-width: 100% !important;
  }
}
@media (max-width: 991px) {
  /* .navbar {
    z-index: 0;
  }  */
}
@media (max-width: 1150px) {
  .service-wrapper .upset .service-card-app .service-list li a {
    font-size: 1.1rem;
  }
  .service-wrapper .upset .service-card-app .service-list li {
    padding: 0 0.3rem;
  }
}
